body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    text-align: center;
}

.form-2 {
    box-shadow: 0px 0px 5px 5px rgba(197, 197, 197, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.form {
    width: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}

.error {
    color: red;
}